@import "generales/variables";
@import "generales/headerFooter";
@import "pages/catalogo";
@import "pages/contacto";
@import "pages/envios";
@import "pages/index";
@import "pages/telas";

@media (max-width:480px) and (max-width: 768px) {
    header {
        background-color: #ffffff;
        height:80px;
        position: sticky;
        top: 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        .tapiport{
            width: 60px;
            height: 60px;
            margin-top: 20px;
            margin-left: 20px;
        }
    }
.menupc {
        display: none;
    }
.tapimenu {
        height: 50px;
        width:50px ;
   }
.telas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    h1 {
        color:$color;
        font-style: inherit;
      font-size: 35px;
      text-align: center;
      margin-top: 50px;
      margin-bottom: 50px;
    }
}
.port1 {
      width: 100%;
      height: 280px;
   }
.textointro {
      font-size: 16px;
      margin: 25px 60px;  
   }

.fotosPrincipal {
      display: grid;
      grid-template-columns: repeat(2, 200px);
      justify-content: center;
      column-gap: 20px;
      row-gap: 20px;
      .fotohome {
        width:200px ;
        height: 200px;
     }
   }
   

.dos {
    display: grid;
    grid-template-columns: repeat(2,150px);
    align-items: center;
    column-gap: 15px;
    row-gap: 15px;
    .fot6 {
        width: 150px;
        height: 150px;
    
    }
    .fot62 {
        width: 150px;
        height: 150px;
       
    }
}
.indi {
    display: grid;
    grid-template-columns: repeat(2,150px);
    align-items: center;
    column-gap: 15px;
    row-gap: 15px;
    .fot8 {
        width: 150px;
        height: 150px;
        
    }
}
h1 {
    color:$color;
    font-style: inherit;
  font-size: 35px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.telas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    h2 {
        color:$color;
       font-style: inherit;
       font-size: 20px;
     text-align: center;
     margin-top: 50px;
    }
    .muestrarios {
        height:200px ;
        width: 400px;
    }
}
.telas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    h1 {
        color:$color;
        font-style: inherit;
      font-size: 20px;
      text-align: center;
      margin-top: 50px;
      margin-bottom: 50px;
    }
    .camion {
        height:80px ;
        width: 100px;
        
    }
    h2 {
        color:$color;
       font-style: inherit;
       font-size: 20px;
     text-align: center;
     margin-top: 50px;
    }
    h3 {
        color:$color;
       font-style: inherit;
       font-size: 20px;
     text-align: center;
     margin-top: 0px;
    }
    .formulario {
        width: 100%;
        .contactos {
            color: $color;
             margin: 25px;
             textarea {
                width: 60%
             }
             .nombre {
                color: $color;
                border: 2px solid $color;
                margin: 15px;
            }
            .boton {
                color: $color;
                border: 2px solid $color;
                &:focus {
                    font-weight: bold;
                }
                
            }
         
         }
    }
      
    }

  .codigo {
     font-size: 16px; 
  }
  
  footer {
    background-color: #ffffff;
    height: 100%;
    position: sticky;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .tapifoot {
            width: 200px ;
            height: 150px;
           margin: 50px;
           margin-top: 80px;
           

        }
        .footali {
            display: flex;
            margin-top: 80px;
            flex-direction: column;
            section {
                display: flex;
                flex-direction: column; 
                align-items: center;
                
            }
            p {
                color:$color;
                font-style: normal;
                font-size: 16px;
                text-align: center;
            }
           
            .tituloFoot {
                font-weight: bold;
                margin-bottom: 5px;
                text-align: center;
                
                     
                }
            
            .textoFoot {
                    font-size: 14px;
                    text-align: center;
                }
       
         }
        
        
    }
 }   
}

@media (max-width:480px) and (max-width: 768px) {
    .menuhambur {
     display: none
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    header {
        background-color: #ffffff;
        height:100px;
        position: sticky;
        top: 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        .tapiport {
            width: 120px; ;
            height: 90px; 
            margin-left: 50px;
        }
    
        nav { 
            display: flex;
            align-items: center;
            .menu {
                list-style: none;
                text-decoration: none;
                color:$color;
                font-style: inherit;
                font-size: 20px;
                display: flex;
                flex-direction: row;
                
               
                li {
                    margin-left: 80px;
                    &:hover {
                        font-weight: bold;
                    }
                }
            }
        }
       
    }

.telas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    h1 {
        color:$color;
        font-style: inherit;
      font-size: 35px;
      text-align: center;
      margin-top: 50px;
      margin-bottom: 50px;
    }
}
.port1 {
      width: 100%;
      height: 480px;
   }
.textointro {
      font-size: 16px;
      margin: 25px 60px;  
   }

.fotosPrincipal {
      display: grid;
      grid-template-columns: repeat(3, 300px);
      justify-content: center;
      column-gap: 20px;
      row-gap: 20px;
      .fotohome {
        width:280px ;
        height: 280px;
     }
   }
   

.dos {
    display: grid;
    grid-template-columns: repeat(3,300px);
    align-items: center;
    column-gap: 15px;
    row-gap: 15px;
    .fot6 {
        width: 280px;
        height: 280px;
    
    }
    .fot62 {
        width: 280px;
        height: 280px;
       
    }
}
.indi {
    display: grid;
    grid-template-columns: repeat(4,220.5px);
    align-items: center;
    column-gap: 15px;
    row-gap: 15px;
    .fot8 {
        width: 200px;
        height: 200px;
        
    }
}
h1 {
    color:$color;
    font-style: inherit;
  font-size: 35px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.telas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    h2 {
        color:$color;
       font-style: inherit;
       font-size: 30px;
     text-align: center;
     margin-top: 50px;
    }
    .muestrarios {
        height:400px ;
        width: 700px;
    }
}
.telas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    h1 {
        color:$color;
        font-style: inherit;
      font-size: 25px;
      text-align: center;
      margin-top: 50px;
      margin-bottom: 50px;
    }
    .camion {
        height:80px ;
        width: 200px;
        
    }
    h2 {
        color:$color;
       font-style: inherit;
       font-size: 30px;
     text-align: center;
     margin-top: 50px;
    }
    h3 {
        color:$color;
       font-style: inherit;
       font-size: 20px;
     text-align: center;
     margin-top: 0px;
    }
    .formulario {
        width: 100%;
        .contactos {
            color: $color;
             margin: 25px;
             textarea {
                width: 60%
             }
             .nombre {
                color: $color;
                border: 2px solid $color;
                margin: 15px;
            }
            .boton {
                color: $color;
                border: 2px solid $color;
                &:focus {
                    font-weight: bold;
                }
                
            }
         
         }
    }
      
    }

  .codigo {
     font-size: 16px; 
  }
  
  footer {
    background-color: #ffffff;
    height: 100%;
    position: sticky;
    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .tapifoot {
            width: 150px ;
            height: 110px;
           margin: 50px;
           margin-top: 80px;
           

         }
        .footali {
            display: flex;
            align-items: flex-start;
            margin-top: 80px;
            section {
                display: flex;
                flex-direction: column; 
                align-items: center;
                
            }
            p {
                color:$color;
                font-style: normal;
                font-size: 16px;
                text-align: center;
            }
           
            .tituloFoot {
                font-weight: bold;
                margin-bottom: 5px;
                text-align: center;
                
                     
                }
            
            .textoFoot {
                    font-size: 14px;
                    text-align: center;
                }
       
         }
        
        
    }
  }
}