@import "generales/variables";
@import "generales/headerFooter";
@import "pages/catalogo";
@import "pages/contacto";
@import "pages/envios";
@import "pages/index";
@import "pages/telas";

@media (min-width:300px) and (max-width: 768px) {
    header {
        background-color: #ffffff;
        height:80px;
        position: sticky;
        top: 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .menuhambur {
            .tapiport{
                width: 60px;
                height: 60px;
                margin-top: 20px;
                margin-left: 20px;
            }
            .tapimenu {
                height: 50px;
                width:50px ;
           }
        
        }
        .menupc {
            display: none;
        }
           
        }
    
        

.telas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    h1 {
        color:$color;
        font-style: inherit;
      font-size: 35px;
      text-align: center;
      margin-top: 50px;
      margin-bottom: 50px;
    }
}
.port1 {
      width: 100%;
      height: 280px;
   }
.textointro {
      font-size: 16px;
      margin: 25px 60px;  
   }

.fotosPrincipal {
      display: grid;
      grid-template-columns: repeat(2, 40%);
      grid-template-rows: repeat(3,30%);
      justify-content: center;
      column-gap: 2%;
      row-gap: 2%;
      .fotohome {
        width:80% ;
        height: 80%;
       
     }
   }
   

.dos {
    display: grid;
    grid-template-columns: repeat(2,40%);
    grid-template-rows: repeat(3,30%);
    align-items: center;
    column-gap: 2%;
    row-gap: 2%;
    .fot6 {
        width: 80%;
        height: 80%;
    
    }
    .fot62 {
        width: 80%;
        height: 80%;
       
    }
}
.indi {
    display: grid;
    grid-template-columns: repeat(2,40%);
    grid-template-rows: repeat(4,20%);
    align-items: center;
    column-gap: 2%;
    row-gap: 2%;
    .fot8 {
        width: 80%;
        height: 80%;
        
    }
}
h1 {
    color:$color;
    font-style: inherit;
  font-size: 35px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.telas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    h2 {
        color:$color;
       font-style: inherit;
       font-size: 20px;
     text-align: center;
     margin-top: 50px;
    }
    .muestrarios {
        height:200px ;
        width: 300px;
    }
}
.telas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    h1 {
        color:$color;
        font-style: inherit;
      font-size: 20px;
      text-align: center;
      margin-top: 50px;
      margin-bottom: 50px;
    }
    .camion {
        height:80px ;
        width: 100px;
        
    }
    h2 {
        color:$color;
       font-style: inherit;
       font-size: 16px;
     text-align: center;
     margin-top: 50px;
    }
    h3 {
        color:$color;
       font-style: inherit;
       font-size: 16px;
     text-align: center;
     margin-top: 0px;
    }
    
    .contactos {
            color: $color;
             margin: 25px;
             textarea {
                width: 80%
             }
             .nombre {
                color: $color;
                border: 2px solid $color;
                margin: 15px;
            }
            .boton {
                color: $color;
                border: 2px solid $color;
                &:focus {
                    font-weight: bold;
                }
                
            }
         
         }
    }
      
    

  .codigo {
     font-size: 16px; 
  }
  
  footer {
    background-color: #ffffff;
    height: 100%;
    position: sticky;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        

        .tapifoot {
            width: 200px ;
            height: 150px;
           margin-top: 60px;
           margin-right: 0px;
           

        }
        .footali {
            display: flex;
            margin-top: 30px;
            flex-direction: column;
            align-items: center;
            margin-left: 70px;
            
            section {
                display: flex;
                flex-direction: column; 
                align-items: center;
                
            }
            p {
                color:$color;
                font-style: normal;
                font-size: 16px;
                text-align: center;
            }
           
            .tituloFoot {
                font-weight: bold;
                margin-bottom: 5px;
                text-align: center;
                
                     
                }
            
            .textoFoot {
                    font-size: 14px;
                    text-align: center;
                }
       
         }
        
        
    }
 }   
}

@media (min-width:768px){
    .menuhambur {
        display: none;
    }
}

@media (min-width: 769px) and (max-width: 1399px) {
    header {
        background-color: #ffffff;
        height:100px;
        width: 100%;
        position: sticky;
        top: 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        .tapiport {
            width: 100px; ;
            height: 80px; 
            margin-left: 20px;
        }
    
        nav { 
            display: flex;
            align-items: center;
            .menupc {
                .menu {
                    list-style: none;
                    text-decoration: none;
                    color:$color;
                    font-style: inherit;
                    font-size: 16px;
                    display: flex;
                    flex-direction: row;
                    
                   
                    li {
                        margin-left: 30%;
                        margin-right: 5%;
                        &:hover {
                            font-weight: bold;
                        }
                    }
                }
            }
            .menuhambur {
                display: none;
        }
       
    }
    .port1 {
        width: 100%;
        height:300px ;
       background-position: top;
        background-size: contain;
        background-repeat: no-repeat;
    }
    p {
        color:$color;
        font-style: normal;
        font-size: 100%;
        text-align: center;
        
     }
     .textointro {
        margin: 30px 100px;
    }
     h1 {
        color:$color;
        font-style: inherit;
      font-size: 40px;
      text-align: center;
      margin-top: 100px;
      margin-bottom: 50px;
    }
    
    .fotosPrincipal {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        justify-content: center;
        column-gap: 10px;
        row-gap: 10px;
        .fotohome {
          width:180px ;
          height: 180px;
          margin: 15px;
       }
     }

.telas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    h1 {
        color:$color;
        font-style: inherit;
      font-size: 30px;
      text-align: center;
      margin-top: 50px;
      margin-bottom: 50px;
    }
}



   

.dos {
    display: grid;
    grid-template-columns: repeat(3,220px);
    align-items: center;
    column-gap: 15px;
    row-gap: 15px;
    .fot6 {
        width: 230px;
        height: 230px;
    
    }
    .fot62 {
        width: 230px;
        height: 230px;
       
    }
}
.indi {
    display: grid;
    grid-template-columns: repeat(3,220px);
    align-items: center;
    column-gap: 15px;
    row-gap: 15px;
    .fot8 {
        width: 230px;
        height: 230px;
        
    }
}

.telas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    h2 {
        color:$color;
       font-style: inherit;
       font-size: 30px;
     text-align: center;
     margin-top: 50px;
    }
    .muestrarios {
        height:400px ;
        width: 700px;
    }
}
.telas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    h1 {
        color:$color;
        font-style: inherit;
      font-size: 25px;
      text-align: center;
      margin-top: 50px;
      margin-bottom: 50px;
    }
    .camion {
        height:80px ;
        width: 200px;
        
    }
    h2 {
        color:$color;
       font-style: inherit;
       font-size: 30px;
     text-align: center;
     margin-top: 50px;
    }
    h3 {
        color:$color;
       font-style: inherit;
       font-size: 20px;
     text-align: center;
     margin-top: 0px;
    }
}
    .formulario {
        width: 100%;
        .contactos {
            color: $color;
             margin: 25px;
             textarea {
                width: 60%
             }
             .nombre {
                color: $color;
                border: 2px solid $color;
                margin: 15px;
            }
            .boton {
                color: $color;
                border: 2px solid $color;
                &:focus {
                    font-weight: bold;
                }
                
            }
         
         }
    }
}

  .codigo {
     font-size: 16px; 
  }
  
  footer {
    background-color: #ffffff;
    height: 100%;
    position: sticky;
    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .tapifoot {
            width: 150px ;
            height: 110px;
           margin-top: 80px;
           margin-right: 30px;

           
           

         }
        .footali {
            display: flex;
            align-items: flex-start;
            margin-top: 80px;
            section {
                display: flex;
                flex-direction: column; 
                align-items: center;
                margin-right: 40px;
                
            }
            p {
                color:$color;
                font-style: normal;
                font-size: 16px;
                text-align: center;
            }
           
            .tituloFoot {
                font-weight: bold;
                margin-bottom: 5px;
                text-align: center;
                
                     
                }
            
            .textoFoot {
                    font-size: 14px;
                    text-align: center;
                    margin-bottom: 0px;
                }
       
         }
        
        
    }
}
}
    
