@media (max-width:480px) {
    .tapiport{
        width: 80px;
        height: 80px;
        margin-top: 20px;
        margin-left: 20px;
    }
    .menupc {
        display: none;
    }
   .tapimenu {
        height: 50px;
        width:50px ;
   }
   h1 {
       font-size: 35px;
   }
  .port1 {
      width: 460px;
      height: 280px;
   }
  .textointro {
      font-size: 14px;  
   }
  .fotohome {
      width:200px ;
      height: 200px;
   }
  .fotosPrincipal {
      display: grid;
      grid-template-columns: repeat(2, 200px);
      justify-content: center;
      column-gap: 20px;
      row-gap: 20px;
   }
  h2 {
     color: rgb(164, 118, 90
   );
     font-style: inherit;
     font-size: 20px;
     text-align: center;
     margin-top: 100px;
   }
  .fot6 {
     width: 150px;
     height: 150px;
  }
  .fot62 {
     width: 200px;
     height: 150px;
  }
  .fot8 {
     width: 150px;
     height: 150px;  
  }
  .dos {
     display: grid;
     grid-template-columns: repeat(2,150px);
     justify-content: center;
     column-gap: 60px;
     row-gap: 50px;
  }
  .indi {
     display: grid;
     grid-template-columns: repeat(2,150px);
     justify-content: center;
     column-gap: 60px;
     row-gap: 50px;
  }
  h3 {
     color: rgb(164, 118, 90
     );
     font-style: inherit;
     font-size: 20px;
     text-align: center;
  }
  .codigo {
     font-size: 16px; 
  }
  .muestrarios {
     height:200px ;
     width: 350px;
  }
  .container {
     display: flex;
     justify-content: center;
     flex-direction: column; 
  }
  .tituloFoot {
     margin: 20px;
     font-size: 18px;
     font-weight: bold;
  }
  .textoFoot {
     font-size: 14px;
  }
}
@media (min-width:480px) {
    .menuhambur {
     display: none
    }
}
