
    h1 {
        color:$color;
        font-style: inherit;
      font-size: 50px;
      text-align: center;
      margin-top: 100px;
      margin-bottom: 50px;
    }
    h2 {
        color: $color;
       font-style: inherit;
       font-size: 40px;
     text-align: center;
     margin-top: 100px;
    }
     .dos {
        display: grid;
        grid-template-columns: repeat(3,25%);
        grid-template-rows: repeat(2,50%);
        justify-content: center;
        column-gap: 2%;
        row-gap: 2%;
        .fot6 {
            width: 80%;
            height: 80%;
        
        }
        .fot62 {
            width: 80%;
            height: 80%;
           
        }
    }
     .indi {
        display: grid;
        grid-template-columns: repeat(4,19%);
        grid-template-rows: repeat(2,50%);
        justify-content: center;
        column-gap: 2%;
        row-gap: 2%;
        .fot8 {
            width: 80%;
            height: 80%;
            
        }
    }
    





